html,
body {
  height: 100%;
}

/* cover */
#cover{
  background: #222 url('computer.png') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
#cover-caption {
  width: 100%;
}
#row{
  width:100%;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
#nav-main {
  background-color: #222;
}
#panel-me {
  text-align: center;
  font-size: 100px;
}
